/* line 1, ../sass/style.scss */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Add animation to "page content" */
/* line 31, ../sass/style.scss */
header {
  height: 100%;
}
/* line 33, ../sass/style.scss */
header .container {
  overflow: hidden;
}
/* line 36, ../sass/style.scss */
header .ser {
  margin: 0%;
  padding: 0%;
  display: none;
}
/* line 41, ../sass/style.scss */
header .wrap1 {
  position: absolute;
  top: 0%;
  bottom: 20%;
  left: 4.5%;
  right: 4.5%;
  height: 75%;
  width: 91%;
  z-index: 2;
}
/* line 52, ../sass/style.scss */
header .menu {
  position: absolute;
  z-index: 56;
  width: 100%;
  top: 0%;
  left: 0%;
}
/* line 61, ../sass/style.scss */
header li {
  padding: 0.25em;
}
/* line 64, ../sass/style.scss */
header .search {
  background-color: transparent;
  border-color: transparent;
  z-index: 5;
}
/* line 70, ../sass/style.scss */
header .bag {
  background-color: transparent;
  border-color: transparent;
  z-index: 5;
}
/* line 77, ../sass/style.scss */
header a.nav-link {
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  text-align: left;
}
/* line 85, ../sass/style.scss */
header a.navlink:visited {
  color: white;
  text-decoration: none;
}
/* line 89, ../sass/style.scss */
header a.navlink:link {
  color: #ffffff;
}
/* line 94, ../sass/style.scss */
header a.navlinl:focus, header a.navlink:active {
  text-decoration: none;
}
/* line 97, ../sass/style.scss */
header .navbar-inverse .navbar-nav > li > a {
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  text-align: left;
}
/* line 104, ../sass/style.scss */
header .navbar-inverse .navbar-nav > li > a:hover {
  color: #c7b29a;
  text-decoration: none;
}
/* line 108, ../sass/style.scss */
header .search1 {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 1%;
  right: 8%;
  visibility: hidden;
  z-index: 50;
}
/* line 117, ../sass/style.scss */
header .bag1 {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 1%;
  right: 2%;
  visibility: hidden;
  z-index: 50;
}
/* line 126, ../sass/style.scss */
header .logo1 {
  position: absolute;
  z-index: 51;
  top: 10%;
  left: 45%;
  visibility: hidden;
}
/* line 133, ../sass/style.scss */
header .wax1 {
  position: absolute;
  z-index: 51;
  top: 20%;
  left: 42%;
  visibility: hidden;
}
@media only screen and (max-width: 1024px) {
  /* line 142, ../sass/style.scss */
  header li {
    padding: 0%;
  }
}
/* line 147, ../sass/style.scss */
header .navbar-inverse {
  border-color: transparent;
  background-color: transparent;
}
@media only screen and (max-width: 767px) {
  /* line 154, ../sass/style.scss */
  header .navbar-collapse {
    background-color: black;
  }
}
@media only screen and (max-width: 768px) {
  /* line 164, ../sass/style.scss */
  header .menu {
    top: 6%;
  }
  /* line 167, ../sass/style.scss */
  header .search, header .bag {
    visibility: hidden;
  }
  /* line 170, ../sass/style.scss */
  header .search1, header .bag1 {
    visibility: visible;
  }
  /* line 174, ../sass/style.scss */
  header .wax1 {
    visibility: hidden;
  }
}
@media only screen and (max-width: 1015px) {
  /* line 181, ../sass/style.scss */
  header .logo, header .wax {
    visibility: hidden;
  }
}
@media only screen and (max-width: 1015px) {
  /* line 188, ../sass/style.scss */
  header .logo1, header .wax1 {
    visibility: visible;
  }
}
@media only screen and (max-height: 414px) {
  /* line 194, ../sass/style.scss */
  header .logo1 {
    visibility: visible;
    position: absolute;
    top: 0%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 203, ../sass/style.scss */
  header .wax1 {
    visibility: hidden;
  }
}
@media only screen and (max-width: 650px) {
  /* line 209, ../sass/style.scss */
  header .logo1 {
    top: 1%;
    left: 43%;
  }
  /* line 213, ../sass/style.scss */
  header .wax1 {
    visibility: hidden;
  }
}
@media only screen and (max-width: 767px) {
  /* line 220, ../sass/style.scss */
  header .menu {
    top: 0%;
  }
  /* line 223, ../sass/style.scss */
  header .search, header .bag {
    visibility: visible;
  }
  /* line 226, ../sass/style.scss */
  header .search1, header .bag1 {
    visibility: hidden;
  }
}
/* line 232, ../sass/style.scss */
header .owl-stage-outer {
  height: 100%;
}
/* line 235, ../sass/style.scss */
header .def {
  padding-top: 5%;
}
/* line 238, ../sass/style.scss */
header .t3 {
  font-family: Montserrat;
  color: #ffffff;
  font-size: 16px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 24px;
  /* Approximation due to font substitution */
  text-align: center;
}
/* line 246, ../sass/style.scss */
header .owl-carousel {
  height: 100%;
}
/* line 249, ../sass/style.scss */
header .owl-carousel .owl-nav .custom1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 32px;
  height: 32px;
  background-image: url(../images/back.png);
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 264, ../sass/style.scss */
header .owl-carousel .owl-nav .custom2 {
  position: absolute;
  top: 0%;
  right: 0%;
  background-image: url("../images/next.png");
  width: 32;
  height: 32px;
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 282, ../sass/style.scss */
header .owl-carousel .owl-nav {
  position: absolute;
  top: 48%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
/* line 290, ../sass/style.scss */
header .owl-carousel .owl-dots {
  position: absolute;
  bottom: 2%;
  left: 45%;
}
@media only screen and (max-width: 768px) {
  /* line 296, ../sass/style.scss */
  header .owl-carousel .owl-dots {
    position: absolute;
    bottom: 2%;
    left: 43%;
  }
}
@media only screen and (max-width: 425px) {
  /* line 306, ../sass/style.scss */
  header .owl-carousel .owl-dots {
    position: absolute;
    bottom: 2%;
    left: 35%;
  }
}
/* line 313, ../sass/style.scss */
header .item1 {
  height: 100%;
  background-image: url("../images/grid.png");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
/* line 322, ../sass/style.scss */
header .item2 {
  height: 100%;
  background-image: url("../images/slide2.jpeg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
/* line 331, ../sass/style.scss */
header .item3 {
  height: 100%;
  background-image: url("../images/slide3.jpeg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
/* line 340, ../sass/style.scss */
header .item4 {
  height: 100%;
  background-image: url("../images/slide4.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
/* line 349, ../sass/style.scss */
header .item5 {
  height: 100%;
  background-image: url("../images/slide5.jpeg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
/* line 365, ../sass/style.scss */
header .row1 {
  padding-top: 1.2em;
}
/* line 368, ../sass/style.scss */
header .row2 {
  padding-top: 6em;
  margin-bottom: 0%;
}
/* line 372, ../sass/style.scss */
header h1 {
  font-family: Raleway;
  color: #ffffff;
  font-size: 52px;
  /* Approximation due to font substitution */
  font-weight: 700;
  text-align: center;
  margin-top: 0%;
}
/* line 380, ../sass/style.scss */
header h3 {
  font-family: Raleway;
  color: #ffffff;
  font-size: 36px;
  /* Approximation due to font substitution */
  font-weight: 500;
  margin-bottom: 0%;
}
@media only screen and (max-width: 636px) {
  /* line 391, ../sass/style.scss */
  header h3 {
    font-size: 20px;
    padding: 0%;
    margin: 0.5em;
  }
  /* line 397, ../sass/style.scss */
  header .row2 {
    padding: 0%;
    margin: 0%;
  }
  /* line 401, ../sass/style.scss */
  header .row1 {
    padding: 0%;
    margin: 0%;
  }
  /* line 405, ../sass/style.scss */
  header .row3 {
    padding: 0%;
    margin: 0%;
  }
  /* line 410, ../sass/style.scss */
  header .row5 {
    padding: 0%;
    margin: 0%;
  }
  /* line 414, ../sass/style.scss */
  header h1 {
    font-size: 30px;
    padding: 0%;
    margin: 0.5em;
  }
  /* line 420, ../sass/style.scss */
  header .t3 {
    font-size: 15px;
    margin: 0.5em;
    padding: 0%;
  }
  /* line 425, ../sass/style.scss */
  header .wrap1 {
    left: 12.5%;
    right: 12.5%;
    height: 75%;
    width: 75%;
  }
}
@media only screen and (max-height: 500px) {
  /* line 433, ../sass/style.scss */
  header h3 {
    font-size: 20px;
    padding: 0%;
    margin: 0.5em;
  }
  /* line 439, ../sass/style.scss */
  header .row2 {
    padding: 0%;
    margin: 0%;
  }
  /* line 443, ../sass/style.scss */
  header .row1 {
    padding: 0%;
    margin: 0%;
  }
  /* line 447, ../sass/style.scss */
  header .row3 {
    padding: 0%;
    margin: 0%;
  }
  /* line 452, ../sass/style.scss */
  header .row5 {
    padding: 0%;
    margin: 0%;
  }
  /* line 456, ../sass/style.scss */
  header h1 {
    font-size: 30px;
    padding: 0%;
    margin: 0.5em;
  }
  /* line 462, ../sass/style.scss */
  header .t3 {
    font-size: 15px;
    margin: 0.5em;
    padding: 0%;
  }
  /* line 467, ../sass/style.scss */
  header .wrap1 {
    left: 12.5%;
    right: 12.5%;
    height: 75%;
    width: 75%;
  }
}
/* line 476, ../sass/style.scss */
header .row3 {
  margin-top: 1%;
}
/* line 479, ../sass/style.scss */
header p {
  color: white;
  text-align: center;
}
/* line 484, ../sass/style.scss */
header .get {
  border-radius: 3px;
  background-color: #998675;
  border: 0.5px solid transparent;
  width: 170px;
  height: 53px;
  font-family: Raleway;
  color: #ffffff;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 1000;
  line-height: 23px;
  /* Approximation due to font substitution */
  text-align: center;
}
/* line 497, ../sass/style.scss */
header .get:hover {
  background-color: #4e3427;
  transform: rotateY(360deg);
  transition-duration: 2s;
}
/* line 505, ../sass/style.scss */
header .row5 {
  padding-top: 4%;
}
@media only screen and (max-height: 450px) {
  /* line 510, ../sass/style.scss */
  header .get {
    width: 85px;
    height: 26.5px;
    font-size: 7px;
  }
  /* line 515, ../sass/style.scss */
  header .row5 {
    padding-top: 0%;
  }
}

/* line 521, ../sass/style.scss */
.item {
  height: auto;
  padding-top: 6em;
  padding-bottom: 4em;
}
/* line 522, ../sass/style.scss */
.item .container {
  overflow: hidden;
}
/* line 528, ../sass/style.scss */
.item .web {
  font-family: Raleway;
  color: #555555;
  font-size: 22px;
  /* Approximation due to font substitution */
  font-weight: 600;
  text-align: center;
}
/* line 535, ../sass/style.scss */
.item .web1 {
  font-family: Montserrat;
  color: #8c8c8c;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 24px;
  /* Approximation due to font substitution */
  text-align: center;
  padding-bottom: 1.5em;
}
/* line 544, ../sass/style.scss */
.item #dash1 {
  background-color: #f1eee9;
  width: 70px;
  height: 3px;
  margin: auto;
}
/* line 551, ../sass/style.scss */
.item .overlay:hover .web, .item .overlay:hover .ic {
  color: #c7b299;
}
/* line 554, ../sass/style.scss */
.item .overlay:hover #dash1 {
  background-color: #c7b299;
}
/* line 558, ../sass/style.scss */
.item .pen {
  margin: auto;
}
/* line 561, ../sass/style.scss */
.item .padm {
  padding-bottom: 2em;
}

/* line 565, ../sass/style.scss */
.waxom {
  background-color: #fbfaf8;
}
/* line 567, ../sass/style.scss */
.waxom .container {
  overflow: hidden;
}
/* line 570, ../sass/style.scss */
.waxom .wax {
  font-family: Raleway;
  color: #555555;
  font-size: 30px;
  /* Approximation due to font substitution */
  font-weight: 600;
  text-align: center;
  padding-top: 2.25em;
}
/* line 580, ../sass/style.scss */
.waxom .wrap1 {
  padding-top: 3.5%;
}
/* line 583, ../sass/style.scss */
.waxom .inves {
  font-family: Montserrat;
  color: #8c8c8c;
  font-size: 16px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 28px;
  /* Approximation due to font substitution */
  text-align: center;
}

/* line 593, ../sass/style.scss */
.multi {
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding-top: 3em;
  padding-bottom: 3em;
}
/* line 602, ../sass/style.scss */
.multi .container {
  overflow: hidden;
}
@keyframes up-down {
  from {
    top: 0em;
  }
  to {
    top: 0.5em;
  }
}
@keyframes left-right {
  from {
    left: 0em;
  }
  to {
    right: 0.5em;
  }
}
/* line 614, ../sass/style.scss */
.multi .ud {
  position: relative;
  animation-name: up-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media only screen and (max-width: 990px) {
  /* line 623, ../sass/style.scss */
  .multi .ud {
    position: relative;
    transform: rotate(270deg);
    animation-name: left-right;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}
/* line 633, ../sass/style.scss */
.multi .waxom {
  font-family: Raleway;
  color: #c7b299;
  font-size: 28px;
  /* Approximation due to font substitution */
  font-weight: 400;
  text-align: left;
  background-color: transparent;
  margin-bottom: 0%;
}
/* line 642, ../sass/style.scss */
.multi .row1 {
  display: flex;
  flex-wrap: wrap;
}
/* line 646, ../sass/style.scss */
.multi .theme {
  display: table-cell;
}
/* line 652, ../sass/style.scss */
.multi .m {
  font-family: Raleway;
  color: #ffffff;
  font-size: 28px;
  /* Approximation due to font substitution */
  font-weight: 400;
  text-align: left;
  background: transparent;
}
/* line 663, ../sass/style.scss */
.multi .wrap {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
}
@media only screen and (max-width: 768px) {
  /* line 671, ../sass/style.scss */
  .multi .wrap {
    padding-right: 0%;
    padding-left: 0%;
  }
}
@media only screen and (max-width: 425px) {
  /* line 678, ../sass/style.scss */
  .multi .purchase {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 320px) {
  /* line 684, ../sass/style.scss */
  .multi .purchase {
    margin-top: 45%;
  }
}
/* line 689, ../sass/style.scss */
.multi button {
  transform: translate(0, 15%);
  border-radius: 3px;
  border: 0.5px solid transparent;
  background-color: #998675;
  width: 170px;
  height: 50px;
  font-family: Raleway;
  color: #ffffff;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 700;
  line-height: 23px;
  /* Approximation due to font substitution */
  text-align: center;
  vertical-align: center;
}
/* line 706, ../sass/style.scss */
.multi button:hover {
  opacity: 0.5;
}
/* line 710, ../sass/style.scss */
.multi .forget {
  font-family: Montserrat;
  color: #615855;
  font-size: 18px;
  /* Approximation due to font substitution */
  font-weight: 300;
  text-align: left;
  margin-bottom: 0%;
}

/* line 719, ../sass/style.scss */
.latest {
  padding-top: 5em;
  padding-bottom: 2.5em;
}
/* line 722, ../sass/style.scss */
.latest .container {
  overflow: hidden;
}
/* line 725, ../sass/style.scss */
.latest h1.late {
  font-family: Raleway;
  color: #555555;
  font-size: 30px;
  /* Approximation due to font substitution */
  font-weight: 600;
  text-align: center;
  padding-bottom: 0.3em;
  padding-top: 0%;
}
/* line 737, ../sass/style.scss */
.latest .wrap {
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 5%;
}
/* line 743, ../sass/style.scss */
.latest h.late1 {
  font-family: Montserrat;
  color: #8c8c8c;
  font-size: 16px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 28px;
  /* Approximation due to font substitution */
  text-align: center;
}
/* line 752, ../sass/style.scss */
.latest .row4 {
  padding-bottom: 0.5em;
}
/* line 755, ../sass/style.scss */
.latest .pic {
  margin: auto;
  position: relative;
  transition: transform .2s;
}
/* line 761, ../sass/style.scss */
.latest .zoom {
  position: absolute;
  top: 32%;
  left: 50%;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: 0.02px solid transparent;
  visibility: hidden;
  z-index: 4;
}
/* line 773, ../sass/style.scss */
.latest .lnk {
  position: absolute;
  top: 32%;
  left: 38%;
  font-size: 20px;
  color: #998675;
  background-color: transparent;
  border: 0.02px solid transparent;
  visibility: hidden;
  z-index: 4;
}
/* line 784, ../sass/style.scss */
.latest .picy {
  padding-bottom: 1.5em;
}
/* line 789, ../sass/style.scss */
.latest .picy:hover .zoom, .latest .picy:hover .lnk {
  visibility: visible;
}
/* line 793, ../sass/style.scss */
.latest .picy:hover .pisi, .latest .picy:hover .pisi1 {
  background-color: #362f2d;
}
/* line 799, ../sass/style.scss */
.latest .picy:hover .pisi {
  color: #c7b299;
}
/* line 802, ../sass/style.scss */
.latest .picy:hover .pisi1 {
  color: white;
}
/* line 805, ../sass/style.scss */
.latest .picy:hover .pic {
  filter: contrast(95%);
  filter: brightness(75%);
}
/* line 809, ../sass/style.scss */
.latest .picy:hover .triangle, .latest .picy:hover .trianle1 {
  border-bottom: 9px solid #362f2d;
}
/* line 814, ../sass/style.scss */
.latest .pici {
  margin: auto;
}
/* line 819, ../sass/style.scss */
.latest .pisi {
  font-family: Montserrat;
  color: #d1d1d1;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
  margin: auto;
  padding-bottom: 1em;
  padding-left: 1.5em;
  background-color: #fbfaf8;
}
/* line 833, ../sass/style.scss */
.latest .pisi1 {
  font-family: Raleway;
  color: #c7b29a;
  font-size: 20px;
  /* Approximation due to font substitution */
  font-weight: 500;
  text-align: left;
  margin: auto;
  padding-top: 1em;
  padding-left: 1em;
  background-color: #fbfaf8;
}
/* line 845, ../sass/style.scss */
.latest .triangle, .latest .triangle1 {
  position: absolute;
  left: 10%;
  top: 66.5%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 9px solid white;
}
@media only screen and (max-width: 1024px) {
  /* line 859, ../sass/style.scss */
  .latest .triangle, .latest .triangle1 {
    position: absolute;
    left: 10%;
    top: 62%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 867, ../sass/style.scss */
  .latest .triangle, .latest .triangle1 {
    position: absolute;
    left: 10%;
    top: 66%;
  }
}
@media only screen and (max-width: 414px) {
  /* line 875, ../sass/style.scss */
  .latest .triangle, .latest .triangle1 {
    position: absolute;
    left: 10%;
    top: 67%;
  }
}
@media only screen and (max-width: 375px) {
  /* line 883, ../sass/style.scss */
  .latest .triangle, .latest .triangle1 {
    position: absolute;
    left: 10%;
    top: 65.5%;
  }
}
@media only screen and (max-width: 325px) {
  /* line 891, ../sass/style.scss */
  .latest .triangle, .latest .triangle1 {
    position: absolute;
    left: 10%;
    top: 61.5%;
  }
}
/* line 899, ../sass/style.scss */
.latest .list {
  padding-top: 1.5em;
  padding-bottom: 2em;
}
/* line 907, ../sass/style.scss */
.latest .but {
  font-family: Montserrat;
  color: #8c8c8c;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 21px;
  /* Approximation due to font substitution */
  text-align: center;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin: 0%;
  background-color: transparent;
  border-radius: 5px;
  border: 0.5px solid #efefef;
}
/* line 923, ../sass/style.scss */
.latest .but.all {
  padding-left: 1.75em;
  padding-right: 1.75em;
}
@media only screen and (max-width: 425px) {
  /* line 928, ../sass/style.scss */
  .latest .but {
    width: 100%;
  }
}
/* line 934, ../sass/style.scss */
.latest .buti {
  border-radius: 4px;
  box-shadow: 0px 2px 1px  #3a2613;
  border: 0.5px solid transparent;
  background-color: #998675;
  width: 170px;
  height: 50px;
  font-family: Raleway;
  color: #ffffff;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 1000;
  line-height: 23px;
  /* Approximation due to font substitution */
  text-align: center;
  font-style: bold;
}
/* line 951, ../sass/style.scss */
.latest .buti:hover {
  transform: scale(1.2);
  color: grey;
  background-color: white;
}
/* line 956, ../sass/style.scss */
.latest .row12 {
  padding-top: 2em;
  padding-bottom: 4em;
}
/* line 961, ../sass/style.scss */
.latest li {
  display: inline;
  padding: 0.25em;
}
@media only screen and (max-width: 425px) {
  /* line 968, ../sass/style.scss */
  .latest li {
    display: block;
    padding-right: 25%;
    padding-bottom: 2%;
  }
}
/* line 974, ../sass/style.scss */
.latest .lis {
  font-size: 10px;
  color: #8c8c8c;
  background-color: white;
  border-radius: 3px;
  border-size: 0.5px;
  border-color: #eeeeee;
}
@keyframes ani {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes anii {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
/* line 998, ../sass/style.scss */
.latest button:hover {
  background-color: #998675;
  color: white;
  animation-name: ani;
  animation-duration: 2s;
  animation-name: anii;
  animation-duration: 2s;
}

/* line 1007, ../sass/style.scss */
.video {
  background-image: url("../images/photo7.png");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  padding-top: 15em;
  padding-bottom: 13em;
}
/* line 1015, ../sass/style.scss */
.video .container {
  overflow: hidden;
}
/* line 1021, ../sass/style.scss */
.video .tm {
  font-family: Montserrat;
  color: #c7b299;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 24px;
  /* Approximation due to font substitution */
  text-align: center;
  padding-top: 1.3em;
}
/* line 1030, ../sass/style.scss */
.video .wax {
  padding-top: 0%;
}
@keyframes rotate-play {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 1040, ../sass/style.scss */
.video .play {
  margin: auto;
  animation: rotate-play;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: linear;
}
/* line 1048, ../sass/style.scss */
.video .waxom {
  font-family: Raleway;
  color: #ffffff;
  font-size: 30px;
  /* Approximation due to font substitution */
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  padding-top: 1.5em;
  padding-bottom: 0.3em;
}
/* line 1058, ../sass/style.scss */
.video .sub {
  font-family: Montserrat;
  color: #ffffff;
  font-size: 16px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 28px;
  /* Approximation due to font substitution */
  text-align: center;
}

/* line 1068, ../sass/style.scss */
.phone {
  background-color: #fbfaf8;
  padding-top: 5em;
}
/* line 1072, ../sass/style.scss */
.phone .container {
  overflow: hidden;
}
/* line 1079, ../sass/style.scss */
.phone li {
  list-style: none;
}
/* line 1086, ../sass/style.scss */
.phone .con {
  height: auto;
}
/* line 1092, ../sass/style.scss */
.phone .tes {
  height: auto;
  margin: 0%;
  transform: translate(0, 33.33%);
  padding: 0%;
}
@media only screen and (max-width: 990px) {
  /* line 1099, ../sass/style.scss */
  .phone .tes {
    transform: translate(0, 0);
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
/* line 1110, ../sass/style.scss */
.phone h.exel {
  font-family: Raleway;
  color: #555555;
  font-size: 30px;
  /* Approximation due to font substitution */
  font-weight: 600;
  text-align: left;
  padding-bottom: 1em;
}
/* line 1118, ../sass/style.scss */
.phone .bul {
  font-family: Montserrat;
  color: #8c8c8c;
  font-size: 16px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 28px;
  /* Approximation due to font substitution */
  text-align: left;
  padding-bottom: 0.5em;
  padding-top: 1.25em;
}
/* line 1128, ../sass/style.scss */
.phone .bulet {
  font-family: Montserrat;
  color: #8c8c8c;
  font-size: 16px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 32px;
  /* Approximation due to font substitution */
  text-align: left;
  padding-left: 2em;
  margin: 0%;
}
/* line 1142, ../sass/style.scss */
.phone br {
  padding: 8%;
}
/* line 1145, ../sass/style.scss */
.phone .hl {
  padding-left: 3.3em;
  padding-top: 0.5em;
}
/* line 1149, ../sass/style.scss */
.phone li {
  background-image: url("../images/01.png");
  background-repeat: no-repeat;
  background-position: left center;
}
@media only screen and (max-width: 525px) {
  /* line 1156, ../sass/style.scss */
  .phone li {
    background-position: left top;
  }
}

/* line 1163, ../sass/style.scss */
.car {
  background-color: #fbfaf8;
  height: auto;
  padding-top: 2.25em;
  width: 100%;
}
/* line 1165, ../sass/style.scss */
.car .container {
  overflow: hidden;
}
/* line 1172, ../sass/style.scss */
.car .car1 {
  position: relative;
}
/* line 1180, ../sass/style.scss */
.car .centre {
  position: relative;
  margin: auto;
  z-index: 2;
}
/* line 1186, ../sass/style.scss */
.car .left {
  position: absolute;
  left: 0%;
  z-index: 1;
  bottom: 0%;
}
/* line 1193, ../sass/style.scss */
.car .right {
  position: absolute;
  right: 0%;
  z-index: 1;
  bottom: 0%;
}

/* line 1205, ../sass/style.scss */
.recent h1.post {
  font-family: Raleway;
  color: #555555;
  font-size: 30px;
  /* Approximation due to font substitution */
  font-weight: 600;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0.3em;
}
/* line 1214, ../sass/style.scss */
.recent .wrap {
  padding-top: 4%;
}
/* line 1217, ../sass/style.scss */
.recent h.post1 {
  font-family: Montserrat;
  color: #8c8c8c;
  font-size: 16px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 28px;
  /* Approximation due to font substitution */
  text-align: center;
  margin: 0%;
}

/* line 1229, ../sass/style.scss */
.animate {
  padding-bottom: 8em;
  padding-top: 2em;
}
/* line 1232, ../sass/style.scss */
.animate button {
  background-color: white;
}
/* line 1241, ../sass/style.scss */
.animate .slic {
  margin: 0%;
}
/* line 1244, ../sass/style.scss */
.animate .slicitem {
  margin: 0%;
}
/* line 1247, ../sass/style.scss */
.animate .an:hover {
  opacity: 0.5;
}
/* line 1251, ../sass/style.scss */
.animate .txt {
  font-family: Raleway;
  color: #555555;
  font-size: 20px;
  /* Approximation due to font substitution */
  font-weight: 500;
  text-align: left;
  padding-left: 5%;
  margin: 0%;
  padding-top: 3em;
  padding-bottom: 1em;
}
/* line 1262, ../sass/style.scss */
.animate .sub {
  font-family: Montserrat;
  color: #8c8c8c;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 22px;
  /* Approximation due to font substitution */
  text-align: left;
  padding-left: 5%;
  padding-top: 1%;
  padding-top: 0%;
  margin: 0%;
}
/* line 1275, ../sass/style.scss */
.animate .dat {
  position: relative;
  width: 100%;
  height: auto;
}
/* line 1282, ../sass/style.scss */
.animate a {
  color: #c7b299;
}
/* line 1285, ../sass/style.scss */
.animate p.dead {
  position: absolute;
  top: 2%;
  left: 2%;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #363636;
  width: 50px;
  height: 20px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  z-index: 2;
}
/* line 1306, ../sass/style.scss */
.animate .spt {
  position: absolute;
  top: 28px;
  left: 2%;
  font-family: Roboto;
  color: #ffffff;
  font-size: 12px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #252525;
  width: 50px;
  height: 15px;
  padding-top: 0.5em;
  margin: 0%;
  padding-top: 1em;
  padding-bottom: 2em;
}
/* line 1326, ../sass/style.scss */
.animate p.rm {
  font-family: Montserrat;
  color: #c7b299;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 2em;
  margin: 0%;
}
/* line 1338, ../sass/style.scss */
.animate .slicitem {
  position: relative;
  height: auto;
  padding-left: 0%;
  padding-right: 0%;
}
/* line 1344, ../sass/style.scss */
.animate .slick-list {
  padding-left: 0%;
  padding-right: 0%;
}
/* line 1348, ../sass/style.scss */
.animate .arr {
  width: 0;
  height: 0;
  border-top: 3.06px solid transparent;
  border-left: 6.25px solid #c7b299;
  border-bottom: 3.06px solid transparent;
  position: absolute;
  left: 27%;
  top: 110%;
}
@media only screen and (max-width: 1024px) {
  /* line 1359, ../sass/style.scss */
  .animate .arr {
    visibility: hidden;
  }
}
/* line 1363, ../sass/style.scss */
.animate .slider {
  width: 50%;
  height: 80%;
}
/* line 1367, ../sass/style.scss */
.animate .slick-slide {
  margin: 0px 20px;
}
/* line 1370, ../sass/style.scss */
.animate .slick-slide img {
  width: 100%;
}
/* line 1373, ../sass/style.scss */
.animate .slick-prev:before,
.animate .slick-next:before {
  color: #eeeeee;
  width: 1px;
  height: 1px;
  z-index: 2;
}
/* line 1380, ../sass/style.scss */
.animate .slick-prev {
  top: 105%;
  left: 48%;
  z-index: 2;
}
/* line 1385, ../sass/style.scss */
.animate .slick-next {
  right: 48%;
  top: 105%;
  z-index: 2;
}
@media only screen and (max-width: 1000px) {
  /* line 1392, ../sass/style.scss */
  .animate .slick-prev {
    top: 105%;
    left: 45%;
    z-index: 2;
  }
  /* line 1397, ../sass/style.scss */
  .animate .slick-next {
    right: 45%;
    top: 105%;
    z-index: 2;
  }
}
@media only screen and (max-width: 450px) {
  /* line 1405, ../sass/style.scss */
  .animate .slick-prev {
    top: 105%;
    left: 40%;
    z-index: 2;
  }
  /* line 1410, ../sass/style.scss */
  .animate .slick-next {
    right: 40%;
    top: 105%;
    z-index: 2;
  }
}
/* line 1416, ../sass/style.scss */
.animate .slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
/* line 1421, ../sass/style.scss */
.animate .slick-active {
  opacity: 1;
}
/* line 1425, ../sass/style.scss */
.animate .slick-active:hover .txt, .animate .slick-active:hover .dat, .animate .slick-active:hover .sub, .animate .slick-active:hover .rm, .animate .slick-active:hover .an {
  background-color: #362f2d;
  z-index: 3;
}
/* line 1429, ../sass/style.scss */
.animate .slick-active:hover .sub {
  color: white;
}
/* line 1432, ../sass/style.scss */
.animate .slick-active:hover .an {
  opacity: 0.5;
}
/* line 1437, ../sass/style.scss */
.animate .slick-active:hover .txt {
  color: #c7b299;
}
/* line 1440, ../sass/style.scss */
.animate .slick-active:hover .dead {
  background-color: #c7b299;
}
/* line 1443, ../sass/style.scss */
.animate .slick-active:hover .spt {
  background-color: #a48d72;
}
/* line 1446, ../sass/style.scss */
.animate .slick-active:hover .arr {
  background-color: white;
  z-index: 4;
}

/* line 1453, ../sass/style.scss */
.log {
  background-image: url("../images/photo14.png");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  padding-top: 3em;
  padding-bottom: 10em;
}
/* line 1461, ../sass/style.scss */
.log .container {
  overflow: hidden;
}
/* line 1467, ../sass/style.scss */
.log .foot1 {
  margin: auto;
}
/* line 1472, ../sass/style.scss */
.log .foot2 {
  margin: auto;
}
/* line 1476, ../sass/style.scss */
.log .foot3 {
  margin: auto;
}
/* line 1480, ../sass/style.scss */
.log .foot4 {
  margin: auto;
}
/* line 1485, ../sass/style.scss */
.log .pic {
  padding-bottom: 2em;
}
@media only screen and (max-width: 768px) {
  /* line 1489, ../sass/style.scss */
  .log .pic {
    padding-bottom: 4em;
  }
}
/* line 1494, ../sass/style.scss */
.log .row1 {
  padding-top: 10%;
}

/* line 1498, ../sass/style.scss */
footer {
  background-color: #191919;
  padding-top: 5em;
  padding-bottom: 5em;
}
/* line 1502, ../sass/style.scss */
footer .container {
  overflow: hidden;
}
/* line 1505, ../sass/style.scss */
footer .wax {
  font-family: Raleway;
  color: #ffffff;
  font-size: 34px;
  /* Approximation due to font substitution */
  font-weight: 400;
  text-align: left;
  padding-top: 0%;
}
/* line 1513, ../sass/style.scss */
footer ul {
  list-style: none;
  padding-left: 0%;
  padding-top: 1em;
  margin: 0%;
}
/* line 1519, ../sass/style.scss */
footer li {
  margin: 0%;
  padding: 0%;
  border-top: 1px solid #252525;
}
/* line 1524, ../sass/style.scss */
footer li:nth-child(1) {
  border: none;
}
/* line 1527, ../sass/style.scss */
footer .colu {
  padding-top: 1.3em;
}
/* line 1530, ../sass/style.scss */
footer .colu1 {
  padding-top: 0.55em;
}
/* line 1538, ../sass/style.scss */
footer .txt {
  font-family: Montserrat;
  color: #545454;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 24px;
  /* Approximation due to font substitution */
  text-align: left;
  padding-bottom: 2em;
  padding-top: 1.75em;
}
/* line 1549, ../sass/style.scss */
footer .wrap {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}
/* line 1555, ../sass/style.scss */
footer .read {
  font-family: Montserrat;
  color: #d1d1d1;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
}
/* line 1564, ../sass/style.scss */
footer .rec {
  font-family: Raleway;
  color: #ffffff;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 650;
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* line 1574, ../sass/style.scss */
footer .se {
  font-family: Montserrat;
  color: #363636;
  font-size: 12px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
  padding-top: 0.25em;
}
/* line 1584, ../sass/style.scss */
footer .sep {
  font-family: Montserrat;
  color: #363636;
  font-size: 12px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
  padding-bottom: 0%;
  margin-bottom: 0%;
  padding-top: 1.2em;
}
/* line 1595, ../sass/style.scss */
footer .lor {
  font-family: Montserrat;
  color: #545454;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
  margin-top: 0%;
  padding-bottom: 0.75em;
}
/* line 1605, ../sass/style.scss */
footer .dash {
  background-color: #252525;
  width: 90%;
  height: 2px;
  padding: 0%;
  margin: 0%;
}
/* line 1612, ../sass/style.scss */
footer .sep1 {
  font-family: Montserrat;
  color: #ffffff;
  font-size: 12px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
  padding-top: 0.5em;
  margin-bottom: 0.125em;
}
/* line 1622, ../sass/style.scss */
footer .dele {
  font-family: Montserrat;
  color: #c7b299;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
  margin-top: 0.125em;
  padding-bottom: 1em;
}
/* line 1633, ../sass/style.scss */
footer .tw {
  font-family: Raleway;
  color: #ffffff;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 650;
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* line 1643, ../sass/style.scss */
footer .wa {
  font-family: Montserrat;
  color: #545454;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
}
/* line 1653, ../sass/style.scss */
footer .mir {
  font-family: Montserrat;
  color: #545454;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
  padding-bottom: 0.25em;
  padding-top: 1em;
}
/* line 1664, ../sass/style.scss */
footer p {
  padding: 0%;
  margin: 0%;
}
/* line 1668, ../sass/style.scss */
footer .sol {
  font-family: Montserrat;
  color: #545454;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
  padding-top: 0.5em;
}
/* line 1677, ../sass/style.scss */
footer .tm {
  font-family: Montserrat;
  color: #363636;
  font-size: 12px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
  padding-bottom: 1.1em;
  padding-top: 0%;
}
/* line 1688, ../sass/style.scss */
footer .dr {
  width: 200px;
  height: 170px;
  position: relative;
}
/* line 1693, ../sass/style.scss */
footer .dm1 {
  width: 50%;
  height: 50%;
  position: absolute;
  padding: 0.5em 0.5em 0.25em 0.5em;
}
/* line 1699, ../sass/style.scss */
footer .dm2 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  padding: 0.5em 0.5em 0.25em 0.5em;
}
/* line 1706, ../sass/style.scss */
footer .dm3 {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  padding: 0.25em 0.5em 0.5em 0.5em;
}
/* line 1713, ../sass/style.scss */
footer .dm4 {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em 0.5em 0.5em;
}
/* line 1721, ../sass/style.scss */
footer .dri {
  margin: auto;
}
@media only screen and (max-width: 450px) {
  /* line 1727, ../sass/style.scss */
  footer .dr {
    width: auto;
    height: 130px;
  }
}

/* line 1733, ../sass/style.scss */
.copy {
  background-color: #111111;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  font-family: Montserrat;
  color: #545454;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
}
/* line 1743, ../sass/style.scss */
.copy .container {
  overflow: hidden;
}
/* line 1746, ../sass/style.scss */
.copy a {
  text-decoration: none;
  font-family: Montserrat;
  color: #545454;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: left;
}
/* line 1755, ../sass/style.scss */
.copy a:hover {
  color: #c7b299;
}
/* line 1759, ../sass/style.scss */
.copy ul {
  padding: 0%;
  margin: 0%;
}
/* line 1763, ../sass/style.scss */
.copy li {
  display: inline;
  list-style: none;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0%;
  padding-bottom: 0%;
  border-left: 1px solid #545454;
}
/* line 1772, ../sass/style.scss */
.copy li:nth-child(1) {
  border: none;
  padding-left: 0%;
}
/* line 1776, ../sass/style.scss */
.copy .wax {
  color: #959595;
}

/* line 1785, ../sass/style.scss */
.banner {
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}
/* line 1789, ../sass/style.scss */
.banner .container {
  overflow: hidden;
}
/* line 1796, ../sass/style.scss */
.banner li {
  display: inline-block;
  padding-left: 2.75em;
  padding-right: 2.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* line 1804, ../sass/style.scss */
.banner ul {
  padding-left: 8%;
  padding-right: 8%;
}
@media only screen and (max-width: 1200px) {
  /* line 1811, ../sass/style.scss */
  .banner ul {
    padding-left: 0%;
    padding-right: 0%;
  }
  /* line 1815, ../sass/style.scss */
  .banner li {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 1822, ../sass/style.scss */
  .banner ul {
    padding-left: 0%;
    padding-right: 0%;
  }
  /* line 1826, ../sass/style.scss */
  .banner li {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 1833, ../sass/style.scss */
  .banner ul {
    padding-left: 0%;
    padding-right: 0%;
  }
  /* line 1837, ../sass/style.scss */
  .banner li {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media only screen and (max-width: 680px) {
  /* line 1845, ../sass/style.scss */
  .banner li {
    display: block;
  }
}
@media only screen and (max-width: 650px) {
  /* line 1851, ../sass/style.scss */
  .banner ul {
    padding-left: 0%;
    padding-right: 0%;
  }
}
@media only screen and (max-width: 425px) {
  /* line 1858, ../sass/style.scss */
  .banner .icon4 {
    margin-left: 42.5%;
  }
}
@media only screen and (max-width: 425px) {
  /* line 1865, ../sass/style.scss */
  .banner .icon1, .banner .icon2, .banner .icon3, .banner .icon4 {
    width: 14%;
    height: 4%;
  }
}
@media only screen and (max-width: 425px) {
  /* line 1873, ../sass/style.scss */
  .banner .dash {
    visibility: hidden;
  }
}
/* line 1878, ../sass/style.scss */
.banner .pr {
  font-family: Montserrat;
  color: #ffffff;
  font-size: 48px;
  /* Approximation due to font substitution */
  font-weight: 200;
  line-height: 36px;
  /* Approximation due to font substitution */
  text-align: center;
  margin-top: 0.5em;
}
/* line 1887, ../sass/style.scss */
.banner .pr1 {
  font-family: Montserrat;
  color: #c7b299;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 20px;
  /* Approximation due to font substitution */
  text-align: center;
}
/* line 1895, ../sass/style.scss */
.banner .def {
  padding-left: 0.5%;
}
/* line 1898, ../sass/style.scss */
.banner .dash {
  background-color: #ffffff;
  width: 20px;
  height: 1px;
  position: relative;
  margin: auto;
  padding-top: 1%;
}
